/* Footer */

@import "../../../styles.css";
@import "../../../animation.css";

.marca-logo {
    width: 40%;
    margin: auto;
    margin-bottom: var(--espacios);
}

.marca-logo img {
    width: 60%;
}

.iconos {
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 100%;
}

.fab {
    font-size: 60px;
    color: #FFF;
    margin-bottom: var(--espacios);
    display: inline-block;
}

footer p {
    margin-top: var(--espacios);
}

footer {
    align-items: center;
    background: url(../../../assets/img/teclado.jpg);
    justify-content: space-between;
}

.white {
    color: #FFF;
}