<footer>
    <div class="footer animated bounceInDown">
        <div class="footer-inner">
            <div class="container">
                <div class="row">
                    <div class="span12 white"> 
                        &copy; 2022
                        <a class="green"> 
                            Facu Falcone - CaidevOficial 
                        </a>. 
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /footer-inner -->
    </div>
</footer>