@import "../../app.component.css";

:root {
    --margins: 10px;
}

/* Footer */
footer p {
    margin-top: var(--margins);
}

footer {
    display: flex;
    background: url(../../../assets/img/teclado.jpg);
    justify-content: space-around;
}

.footer-container {
    font-size: small;
}