<div class="about-background about-black">

    <div class="about-main-container">
        <div class="row">
            <div class="col-md-4 p-2 border_rad_10" id="credential">
                
                <div class="photoSection animated bounceInUp">
                    <section class="foto d-flex justify-content-center">
                        <img src="../../../assets/pm/personal_image.png" height="200" alt="me" id="myPhoto" class="shadow">
                    </section>
                    <br><hr><br>
                </div>

                <div class="leftSide animated bounceInRight ">
                    <section class="about-me">
                        <div class="light-blue">
                            <h3><img src="../../../assets/icons/personal/Personal_information.svg" alt="" width="30px"> Personal Information <br></h3>
                        </div>
                        <ul>
                            <li>
                                <h6 class="m-1 green">Amilcar Facundo Falcone</h6>
                            </li>
                            <li><img src="../../../assets/icons/personal/loc.png" alt="Address" width="15px"> Berazategui, Buenos Aires.<br></li>
                            <li><img src="../../../assets/icons/personal/mail.png" alt="eMail" width="15px"> falcone.facu@gmail.com <br></li>
                            <li><img src="../../../assets/icons/personal/calendar2.svg" alt="birthdate" width="15px"> 1990-02-25 <br></li>
                            <li><img src="../../../assets/icons/personal/tool.png" alt="Github" width="15px"><a class="green" href="https://github.com/caidevOficial"> My Github</a> <br></li>
                            <li>
                                <a href="https://www.linkedin.com/in/facundo-falcone/"><img src="../../../assets/icons/personal/linkedin.png" alt="Linkedin" width="75px"></a>
                            </li>
                        </ul>
                        
                        <!-- <img src="../../../assets/icons/personal/phone.png" alt="Phone" width="15px"><br> -->
                    </section>
                    <br><hr><br>
                    <section class="natural-languajes">
                        <div class="light-blue">
                            <h3><img src="../../../assets/icons/personal/Languages.svg" alt="" width="20px"> Languages <br></h3>
                        </div>
                        <ul>
                            <li>Spanish - Native.</li>
                            <li>English - Advanced - C1.</li>
                            <li>Chinese - Basic - HSK1.</li>
                            <li>Japanese - Basic.</li>
                        </ul>
                    </section>
                    <br><hr><br>

                    <section class="skills">
                        <div class="light-blue">
                            <h3><img src="../../../assets/icons/personal/skills.svg" alt="Skills" width="20px"> Skills <br></h3>
                        </div>
                        <article>
                            <p align="left">
                                <a href="https://www.python.org" target="_blank"> <img src="../../../assets/icons/python/python-original.svg" alt="python" width="40" height="40" /> </a>
                                <a href="https://pandas.pydata.org/" target="_blank"> <img src="https://github.com/devicons/devicon/blob/master/icons/pandas/pandas-original-wordmark.svg?raw=true" alt="Pandas" width="40" height="40" /> </a>
                                <a href="https://numpy.org/" target="_blank"> <img src="../../../assets/icons/numpy/numpy_logo.svg" alt="NumPy" width="40" height="40" /> </a>
                                <a href="https://matplotlib.org/" target="_blank"> <img src="https://camo.githubusercontent.com/9f609b65162567643c396ef42e9ccc2f755906847714389cbc1dcd707b234ebb/68747470733a2f2f6d6174706c6f746c69622e6f72672f5f7374617469632f6c6f676f325f636f6d707265737365642e7376673f7261773d74727565" alt="Matplotlib" width="100" height="40" /> </a>
                                <a href="https://www.djangoproject.com/" target="_blank"> <img src="../../../assets/icons/django/django-original.svg" alt="django" width="40" height="40" /> </a>
                                <a href="https://www.java.com" target="_blank"> <img src="https://github.com/caidevOficial/Logos/blob/master/Lenguajes/java.png?raw=true" alt="java" width="40" height="40" /> </a>
                                <a href="https://www.w3schools.com/cs/" target="_blank"> <img src="../../../assets/icons/csharp/csharp-original.svg" alt="csharp" width="40" height="40" /></a>
                                <a href="https://www.cprogramming.com/" target="_blank"> <img src="../../../assets/icons/c/c-original.svg" alt="c" width="40" height="40" /> </a>
                                <a href="https://tomcat.apache.org/" target="_blank"> <img src="../../../assets/icons/tomcat/tomcat-original.svg" alt="Tomcat" width="40" height="40" /> </a>
                                <a href="https://www.arduino.cc/" target="_blank"> <img src="https://cdn.worldvectorlogo.com/logos/arduino-1.svg" alt="arduino" width="40" height="40" /> </a>
                            </p>
                        </article>
                        <article>
                            <p align="left">
                                <a href="https://cloud.google.com/" target="_blank"> <img src="https://www.vectorlogo.zone/logos/google_cloud/google_cloud-icon.svg?raw=true" alt="GCP" width="40" height="40" /> </a>
                                <a href="https://cloud.google.com/bigquery" target="_blank"> <img src="https://www.vectorlogo.zone/logos/google_bigquery/google_bigquery-icon.svg" alt="BigQuery" width="40" height="40" /> </a>
                                <a href="https://azure.microsoft.com/en-in/" target="_blank"> <img src="https://camo.githubusercontent.com/6df31a460cb0c38f960e92812c8b6f8bce4c7f13170fb4782f0b31ab8e792ac2/68747470733a2f2f7777772e766563746f726c6f676f2e7a6f6e652f6c6f676f732f6d6963726f736f66745f617a7572652f6d6963726f736f66745f617a7572652d69636f6e2e737667" alt="Azure" width="40" height="40" /> </a>
                                <a href="https://www.sqlite.org/" target="_blank"> <img src="https://www.vectorlogo.zone/logos/sqlite/sqlite-icon.svg" alt="sqlite" width="40" height="40" /> </a>
                                <a href="https://mariadb.org/" target="_blank"> <img src="https://www.vectorlogo.zone/logos/mariadb/mariadb-icon.svg" alt="mariadb" width="40" height="40" /> </a>
                                <a href="https://www.mysql.com/" target="_blank"> <img src="../../../assets/icons/mysql/mysql-original-wordmark.svg" alt="mysql" width="40" height="40" /> </a>
                                <a href="https://www.microsoft.com/es-es/sql-server/sql-server-downloads/" target="_blank"> <img src="../../../assets/icons/mssql/microsoft-sql-server.svg" alt="mssql" width="40" height="40" /> </a>
                                <a href="https://www.apachefriends.org/es/index.html/" target="_blank"> <img src="https://github.com/devicons/devicon/raw/master/icons/php/php-original.svg?raw=true" alt="php" width="40" height="40" /> </a>
                                <a href="https://apache.org/" target="_blank"> <img src="../../../assets/icons/apache/apache-original.svg" alt="Apache" width="40" height="40" /> </a>
                                <a href="https://www.postman.com/" target="_blank"> <img src="../../../assets/icons/postman/getpostman-icon.svg" alt="Postman" width="40" height="40" /> </a>
                                <a href="https://insomnia.rest/download" target="_blank"> <img src="https://insomnia.rest/images/insomnia-logo.svg?raw=true" alt="Insomnia" width="100" height="40" /> </a>
                            </p>
                        </article>
                        <article>
                            <p align="left">
                                <a href="https://getbootstrap.com" target="_blank"> <img width="40" heigth="40" src="../../../assets/icons/bootstrap/bootstrap-plain-wordmark.svg" alt="Bootstrap">
                                </a>
                                <a href="https://www.w3schools.com/css/" target="_blank"> <img src="../../../assets/icons/css3/css3-original.svg" alt="css3" width="40" height="40" /></a>
                                <a href="https://www.w3.org/html/" target="_blank"> <img src="../../../assets/icons/html5/html5-original.svg" alt="html5" width="40" height="40" /> </a>
                                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"> <img src="https://github.com/devicons/devicon/blob/master/icons/javascript/javascript-original.svg?raw=true" alt="javascript" width="35" height="39" /> </a>
                            </p>
                        </article>
                        <article>
                            <p align="left">
                                <a href="https://www.eclipse.org/" target="_blank"> <img src="https://github.com/caidevOficial/Logos/blob/master/Lenguajes/logo-eclipse.png?raw=true" alt="Eclipse" width="40" height="40" /> </a>
                                <a href="https://netbeans.apache.org/download/" target="_blank"> <img src="https://netbeans.apache.org/images/apache-netbeans.svg" alt="Netbeans" width="40" height="40" /> </a>
                                <a href="https://code.visualstudio.com/" target="_blank"> <img src="https://github.com/caidevOficial/Logos/blob/master/Lenguajes/visual-studio-code.svg?raw=true" alt="visualStudio" width="40" height="40" /> </a>
                                <a href="https://visualstudio.microsoft.com/es/vs/community/" target="_blank"> <img src="https://github.com/devicons/devicon/blob/master/icons/visualstudio/visualstudio-plain.svg?raw=true" alt="visualStudio" width="40" height="40" /> </a>
                                <a href="https://www.jetbrains.com/es-es/pycharm/" target="_blank"> <img src="../../../assets/icons/pycharm/pycharm-original.svg" alt="PyCharm" width="40" height="40" /> </a>
                                <a href="https://git-scm.com/" target="_blank"> <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git" width="40" height="40" /> </a>
                                <a href="https://github.com/CaidevOficial" target="_blank"> <img src="https://github.com/devicons/devicon/blob/master/icons/github/github-original-wordmark.svg?raw=true" alt="git" width="40" height="40" /> </a>
                                <a href="https://slack.com/intl/es-la/" target="_blank"> <img src="../../../assets/icons/slack/slack-original.svg" alt="Slack" width="40" height="40" /> </a>
                                <a href="https://trello.com/" target="_blank"> <img src="../../../assets/icons/trello/trello-plain.svg" alt="Trello" width="40" height="40" /> </a>
                            </p>
                        </article>
                        <article>
                            <p align="left">
                                <a href="https://www.linux.org/" target="_blank"> <img src="../../../assets/icons/linux/linux-original.svg" alt="linux" width="40" height="40" /> </a>
                                <a href="https://www.debian.org/" target="_blank"> <img src="https://www.debian.org/Pics/openlogo-50.png" alt="Debian" width="40" height="40" /> </a>
                                <a href="https://www.deepin.org/" target="_blank"> <img src="../../../assets/pm/deepin-logo.svg" alt="Deepin" width="40" height="40" /> </a>
                                <a href="https://ubuntu.com/" target="_blank"> <img src="../../../assets/icons/ubuntu/ubuntu-plain.svg" alt="Ubuntu" width="40" height="40" /> </a>
                                <a href="https://www.microsoft.com/es-ar/windows/" target="_blank"> <img src="https://github.com/caidevOficial/Logos/blob/master/Lenguajes/windows.svg?raw=true" alt="Windows" width="40" height="40" /> </a>
                            </p>
                        </article>
                    </section>
                    <br><hr><br>
                    <section class="git-content">
                        <div class="light-blue">
                            <h3><img src="../../../assets/icons/personal/github.svg" alt="" width="20px"> My Github's Stats <br></h3>
                        </div>
                        <img width="280em" align="center" src="https://github-readme-stats-caidevposeidon.vercel.app/api/top-langs/?username=caidevOficial&layout=compact&theme=chartreuse-dark&langs_count=10&exclude_repo=Logos,Java_Lineage2_aCis_From_345&hide=html,css,tsql" alt="caidevoficial"/>
                        <img width="280em" align="center" src="https://github-readme-streak-stats.herokuapp.com/?user=caidevoficial&theme=chartreuse-dark" alt="caidevoficial" />
                        <img width="280em" align="center" src="https://github-readme-stats-caidevposeidon.vercel.app/api?username=caidevOficial&show_icons=true&theme=chartreuse-dark&count_private=true&show_owner=true&include_all_commits=true" />
                    </section>
                    <br><hr><br>
                    <section class="Jobs">
                        <div class="light-blue">
                            <h3><img src="../../../assets/icons/personal/job-interview.svg" alt="" width="30px"> Work Experience</h3>
                        </div>
                        <article id="Accenture">
                            <p>
                                <div class="green">
                                    <h5>Analytics Associate</h5>
                                </div>
                                <div class="coral">
                                    Accenture | January 2021 - Present
                                </div>
                                <ul>
                                    <li>Python Dev.</li>
                                    <li>Backend Implementation with GCP.</li>
                                    <li>Migration of queries to bigquery.</li>
                                    <li>Pipelines's creation.</li>
                                </ul>
                            <!-- </p> -->
                        </article>

                        <article id="UTN">
                            <p>
                                <div class="green">
                                    <h5>Assistant Professor</h5>

                                </div>
                                <div class="coral">
                                    UTN | January 2021 - Present
                                </div>
                                <ul>
                                    <li>Assistance to the teacher in charge of the class with content and corrections.</li>
                                    <li>Preparation of topics for each class.</li>
                                </ul>
                            <!-- </p> -->
                        </article>

                        <article id="Autonomous">
                            <p>
                                <div class="green">
                                    <h5>PC maintenance and repair - Technical support</h5>

                                </div>
                                <div class="coral">
                                    Autonomous | November 2014 - Present
                                </div>
                                <ul>
                                    <li>Backup tasks, formatting and partitioning of disks, installation of O.S. and various software.</li>
                                    <li>Custom pc assembly.</li>
                                    <li>Customer support online or in person.</li>
                                </ul>
                            <!-- </p> -->
                        </article>

                        <article id="HP">
                            <p>
                                <div class="green">
                                    <h5>Merchant for Hewlett-Packard</h5>

                                </div>
                                <div class="coral">
                                    Integra-GO | February 2018 - April 2019
                                </div>
                                <ul>
                                    <li>I was the nexus of the client and the brand, supporting with training and promotional material.</li>
                                    <li>Place PoP material respecting guidelines and negotiate new spaces for the brand.</li>
                                </ul>
                                <div class="coral">
                                    Award Received
                                </div>
                                <ul>
                                    <li>Award obtained for the best exhibition in the hypermarket channel.</li>
                                </ul>
                                <img align="center" src="../../../assets/pm/hypermarket_exhibition.jpg" alt="Coto" width="300px">
                            <!-- </p> -->
                        </article>
                    </section>
                    <br><hr><br>
                </div>
            </div>

            <div class="col-md-8 p-3" style="border-radius: 10px">
                <section class="gif">
                    <article class="light-blue">
                        <p align="center">
                            <a href="https://github.com/CaidevOficial">
                                <img height="100px" width="620px" src="https://github-profile-trophy.vercel.app/?username=caidevoficial&theme=nord&column=7" alt="caidevoficial" />
                            </a>
                        </p>
                    </article>
                </section>
                <hr>

                <div align='center' id="spinner"></div>
                <div id="right">
                    <section class="info">
                        <div class="light-blue">
                            <h3><img src="../../../assets/icons/personal/identity-card.svg" alt="" width="30px"> About Me</h3>
                        </div>
                        <article>
                            <p>
                                I consider myself a person with ease of learning new skills, technologies and that is why I constantly train myself in e-learning platforms. I'm currently a student at the National Technological University (University degree in programming). I'm interested
                                in entering the systems area in a thriving company with development possibilities.
                            </p>
                        </article>
                    </section>
                    <br><hr><br>

                    <section class="Study">
                        <div class="light-blue">
                            <h3><img src="../../../assets/icons/personal/formation.svg" alt="" width="27px"> Academy Formation</h3>
                        </div>
                        <img src="https://raw.githubusercontent.com/caidevOficial/Logos/master/Instituciones/logo-utn_blanco.png" alt="" width="100px"> <br> National Technological University (2020-2022)<br> University technician in programming. <br><br>
                        <img src="https://github.com/caidevOficial/Logos/blob/master/Instituciones/logo_unqui.png?raw=true" alt="" width="100px"> <br> National University of Quilmes (2014)<br> Technician in assembly and repair of PC. <br>
                    </section>
                    <br><hr><br>

                    <section class="info">
                        
                        <div class="light-blue">
                            <h3><img src="../../../assets/icons/personal/ribbon.svg" alt="" width="30px"> Courses & Seminars</h3>
                        </div>

                        <article class="ITBA">
                            <img src="https://github.com/caidevOficial/Logos/raw/master/Instituciones/logo_oficial_itba_ieee.png?raw=true" alt="ITBA Student Branch Logo" height="30"><br>
                            <ul>
                                <li>Data Analysis With <strong>Python</strong> - October 2021 - <a href="javascript:openURL('../../../assets/pm/certif/ITBA_Certif.png','500','500')" class="green">Link to Certificate</a></li>
                            </ul>
                        </article>

                        <article class="PoloTic">
                            <img src="https://github.com/caidevOficial/Logos/raw/master/Instituciones/polo_logo_2020.png" alt="PoloTic Logo" height="30"><br>
                            <ul>
                                <li>Fullstack Java Junior Web Developer - December 2020 - <a href="javascript:openURL('../../../assets/pm/certif/Java_FT_Certif.png','500','500')" class="green">Link to Certificate</a></li>
                                <li>Fullstack Python & Javascript Junior Web Developer - November 2020 - <a href="javascript:openURL('../../../assets/pm/certif/Python_FT_Certif.png','500','500')" class="green">Link to Certificate</a></li>
                                <li>Agile and SCRUM methodologies - September 2020 - <a class="green" href="javascript:openURL('../../../assets/pm/certif/SCRUM_Certif.png','500','500')">Link to Certificate</a></li>
                            </ul>
                        </article>

                        <article class="Platzi">
                            <img src="https://raw.githubusercontent.com/caidevOficial/Logos/master/Instituciones/Platzi.png" alt="Platzy Logo" height="30"><br>
                            <ul>
                                <li>Professional <strong>Python</strong> Course [15 hs] - March 2022 - <a class="green" href="javascript:openURL('https://platzi.com/p/facufalcone/curso/2397-python-profesional/diploma/detalle/','500','500')">Link to Certificate </a><img src="../../../assets/icons/new-gif-image.gif"alt="New" height="20"></li>
                                <li>Linear Data Structures with <strong>Python</strong> [15 hs] - January 2022 - <a class="green" href="javascript:openURL('https://platzi.com/p/facufalcone/curso/2299-estructuras-datos-python/diploma/detalle/','500','500')">Link to Certificate </a></li>
                                <li><strong>Google Cloud Platform</strong> Training [20 hs] - January 2022 - <a class="green" href="javascript:openURL('https://platzi.com/p/facufalcone/curso/1911-course/diploma/detalle/','500','500')">Link to Certificate </a></li>
                                <li>Introduction to <strong>Google Cloud Platform</strong> [8 hs] - January 2022 - <a class="green" href="javascript:openURL('https://platzi.com/p/facufalcone/curso/2469-fundamentos-google/diploma/detalle/','500','500')">Link to Certificate </a></li>
                                <li>Intermediate <strong>Python</strong> Course [17 hs] - April 2021 - <a class="green" href="javascript:openURL('https://platzi.com/p/facufalcone/curso/2255-course/diploma/detalle/','500','500')">Link to Certificate </a></li>
                                <li><strong>SQL & MySQL</strong> Course [18 hs] - March 2021 - <a class="green" href="javascript:openURL('https://platzi.com/p/facufalcone/curso/1272-course/diploma/detalle/','500','500')">Link to Certificate </a></li>
                                <li>Database Fundamentals [26 hs] - March 2021 - <a class="green" href="javascript:openURL('https://platzi.com/p/facufalcone/curso/1566-bd/diploma/detalle/','500','500')">Link to Certificate </a></li>
                                <li>Course of Computational Thinking with <strong>Python</strong> [18 hs] - March 2021 - <a class="green" href="javascript:openURL('https://platzi.com/p/facufalcone/curso/1764-course/diploma/detalle/','500','500')">Link to Certificate </a></li>
                                <li>Course of OOP and Algorithms with <strong>Python</strong> [16 hs] - March 2021 - <a class="green" href="javascript:openURL('https://platzi.com/p/facufalcone/curso/1775-poo-python/diploma/detalle/','500','500')">Link to Certificate </a></li>
                                <li><strong>Java SE</strong> Data Persistence Course [11 hs] - January 2021 - <a class="green" href="javascript:openURL('https://platzi.com/p/facufalcone/curso/1760-java-persistencia/diploma/detalle/','500','500')">Link to Certificate</a></li>
                                <li><strong>Java SE</strong> [OOP] - December 2020 - <a class="green" href="javascript:openURL('https://platzi.com/p/facufalcone/curso/1629-course/diploma/detalle/','500','500')">Link to Certificate</a></li>
                                <li>OOP Course - December 2020 - <a class="green" href="javascript:openURL('https://platzi.com/p/facufalcone/curso/1474-oop/diploma/detalle/','500','500')">Link to Certificate</a></li>
                                <li>Introduction to terminal & command lines - December 2020 - <a class="green" href="javascript:openURL('https://platzi.com/p/facufalcone/curso/1748-terminal/diploma/detalle/','500','500')">Link to Certificate</a></li>
                                <li>Introduction to <strong>Java SE</strong> - December 2020. - <a class="green" href="javascript:openURL('https://platzi.com/p/facufalcone/curso/1631-java-basico/diploma/detalle/','500','500')">Link to Certificate</a></li>
                                <li><strong>Python</strong> basics - December 2020 - <a class="green" href="javascript:openURL('https://platzi.com/p/facufalcone/curso/1937-course/diploma/detalle/','500','500')">Link to Certificate</a></li>
                            </ul>
                        </article>

                        <article class="Udemy">
                            <img src="../../../assets/logos/Logo_Udemy.svg" alt="Udemy Logo" height="30"><br>
                            <ul>
                                <li>Data Manipulation in Python: <strong>Master Python, Numpy & Pandas</strong> - March 2022 - <a class="green" href="javascript:openURL('https://www.udemy.com/certificate/UC-1803d07b-ce0d-4f69-a77a-89a0150f6ff4/','500','500')">Link to Certificate</a><img src="../../../assets/icons/new-gif-image.gif"alt="New" height="20"></li>
                                <li>Php Basic - September 2021 - <a class="green" href="javascript:openURL('https://www.udemy.com/certificate/UC-89d86480-3cfb-4097-aae8-8cd6f113522a/','500','500')">Link to Certificate</a></li>
                                <li>C# in Depth [8.5 hs] - June 2021 - <a class="green" href="javascript:openURL('https://www.udemy.com/certificate/UC-3a7a65ce-1eb6-4560-af95-2cde172ee073/','500','500')">Link to Certificate</a></li>
                                <li>Certification C# & Python [7 hs] - June 2021 - <a class="green" href="javascript:openURL('https://www.udemy.com/certificate/UC-3f481854-e619-4aaf-b282-f4bcc7773dd1/','500','500')">Link to Certificate</a></li>
                                <li>Basic C# .NET - May 2021 - <a class="green" href="javascript:openURL('https://www.udemy.com/certificate/UC-d9731ef8-ea09-4f63-b5e5-c1cdde9e356c/','500','500')">Link to Certificate</a></li>
                                <li>Advanced Java Programming - October 2020 - <a class="green" href="javascript:openURL('https://www.udemy.com/certificate/UC-55be9a8e-deef-4255-971b-a4411254c7ef/','500','500')">Link to Certificate</a></li>
                                <li>Advanced Java - October 2020 - <a class="green" href="javascript:openURL('https://www.udemy.com/certificate/UC-73f68372-b7a9-4873-86f0-86b27b48e645/','500','500')">Link to Certificate</a></li>
                                <li>Java Certification - October 2020 - <a class="green" href="javascript:openURL('https://www.udemy.com/certificate/UC-2cf776e7-8435-44e9-900a-dcfa15a19a0a/','500','500')">Link to Certificate</a></li>
                                <li>Complete C programming [22 hs] - August 2020 - <a class="green" href="javascript:openURL('https://www.udemy.com/certificate/UC-7cb7da20-eb81-4d5c-9412-11b1f6778bdf/','500','500')">Link to Certificate</a></li>
                                <li>Data structures using C programming - August 2020 - <a class="green" href="javascript:openURL('https://www.udemy.com/certificate/UC-0133f4cb-2946-456d-aec5-9519c8a26d73/','500','500')">Link to Certificate</a></li>
                                <li>C programming for begginers [33.5 hs] - August 2020 - <a class="green" href="javascript:openURL('https://www.udemy.com/certificate/UC-59002d8e-ddd1-4ade-8c35-69a890f853e1/','500','500')">Link to Certificate</a></li>
                                <li><strong>Python</strong> - March 2020. - <a class="green" href="javascript:openURL('https://www.udemy.com/certificate/UC-acc8dc70-8549-4023-891a-c7c7a8cdde82/','500','500')">Link to Certificate</a></li>
                                <li>Introduction to Backend with Php - March 2020. - <a class="green" href="javascript:openURL('https://www.udemy.com/certificate/UC-c65cb843-334d-4ab1-a646-190d590aef2d/','500','500')">Link to Certificate</a></li>
                                <li>Introduction to git & Github - February 2020 - <a class="green" href="javascript:openURL('https://www.udemy.com/certificate/UC-d4ad791e-4cfd-4bfe-80e3-abc819d68cfa/','500','500')">Link to Certificate</a></li>
                                <li><strong>Python 3</strong> [9 hs] - February 2020. - <a class="green" href="javascript:openURL('https://www.udemy.com/certificate/UC-fd14afac-cc3e-4490-a353-6cb094a531dc/','500','500')">Link to Certificate</a></li>
                                <li>Power BI, The ultimate Orientation - February 2020. - <a class="green" href="javascript:openURL('https://www.udemy.com/certificate/UC-e9ec71fd-d634-4dcb-b2c7-ba650a33f90a/','500','500')">Link to Certificate</a></li>
                                <li>Introduction to programming with Javascript - February 2020. - <a class="green" href="javascript:openURL('https://www.udemy.com/certificate/UC-9cfbfaa5-56f7-4651-8db1-2d393dc64d06/','500','500')">Link to Certificate</a></li>
                                <li>Networks CCDA - November 2019. - <a class="green" href="javascript:openURL('https://www.udemy.com/certificate/UC-C8LUJV60/','500','500')">Link to Certificate</a></li>

                            </ul>
                        </article>
                        
                        <article class="SoloLearn">
                            <img src="../../../assets/logos/Logo_SoloLearn.svg" alt="Sololearn Logo" height="30"><br>
                            <ul>
                                <li>Javascript Course - October 2021 - <a class="green" href="javascript:openURL('https://www.sololearn.com/certificates/course/en/7481559/1024/landscape/png','500','500')">Link to Certificate </a></li>
                                <li>PHP Course - September 2021 - <a class="green" href="javascript:openURL('https://www.sololearn.com/Certificate/1059-7481559/jpg','500','500')">Link to Certificate</a></li>
                                <li>C# - September 2021 - <a class="green" href="javascript:openURL('https://www.sololearn.com/certificates/course/en/7481559/1080/landscape/png','500','500')">Link to Certificate</a></li>
                                <li><strong>Python</strong> Intermediate - September 2021 - <a class="green" href="javascript:openURL('https://www.sololearn.com/certificates/course/en/7481559/1158/landscape/png','500','500')">Link to Certificate</a></li>
                                <li><strong>Python</strong> Core - September 2021 - <a class="green" href="javascript:openURL('https://www.sololearn.com/certificates/course/en/7481559/1073/landscape/png','500','500')">Link to Certificate</a></li>
                                <li>SQL - September 2021 - <a class="green" href="javascript:openURL('https://www.sololearn.com/certificates/course/en/7481559/1060/landscape/png','500','500')">Link to Certificate</a></li>
                            </ul>
                        </article>

                        <article class="LinkedIn">
                            <img src="../../../assets/icons/linkedin/linkedin.svg" alt="LinkedIn Logo" height="30"><br>
                            <ul>
                                <li>Learning <strong>Python</strong> - February 2022 - <a class="green" href="javascript:openURL('https://www.linkedin.com/learning/certificates/b15339801195ec5f21a7a7e32bf21526309e36d2f05d1694c9353d20a7ec0acc','500','500')">Link to Certificate</a></li>
                                <li>SCRUM - August 2020 - <a class="green" href="javascript:openURL('../../../assets/pm/certif/SCRUM_Certif_Linked.png','500','500')">Link to Certificate</a></li>
                            </ul>
                        </article>

                        <article class="Codigo_Facilito">
                            <img src="https://codigofacilito.com/assets/logo-cbf2a784ebee5d642aa7b8182df3e388d4feba0a23577eed1d2747fa05861f73.png" alt="Codigo_Facilito Logo" height="30"><br>
                            <ul>
                                <li>Professional GIT Course - June 2020 - <a class="green" href="javascript:openURL('../../../assets/pm/certif/Git_Certif_CF.png','500','500')">Link to Certificate</a></li>
                            </ul>
                        </article>

                        <article class="Eduonix">
                            <img src="../../../assets/logos/Logo_Eduonix.png" alt="Eduonix Logo" height="45"><br>
                            <ul>
                                <li>Git for begginers - August 2020 - <a class="green" href="javascript:openURL('https://www.eduonix.com/certificate/9993d6ee1c','500','500')">Link to Certificate</a></li>
                            </ul>
                        </article>

                        <article class="Skillsoft_Percipio">
                            <img src="../../../assets/logos/Logo_Skillsoft_Percipio.svg" alt="Skillsoft Logo" height="30"><br>
                            <ul>
                                <li>Java SE 11: <strong>Objects & Classes</strong> - October 2021 - <a class="green" href="javascript:openURL('https://skillsoft.digitalbadges.skillsoft.com/b9b9d65e-3474-4c55-b0f7-88b5d627412b','500','500')">Link to Certificate</a></li>                  
                                <li>Complex Data Types in Python: <strong>Shallow & Deep Copies in Python</strong> - October 2021 - <a class="green" href="javascript:openURL('https://skillsoft.digitalbadges.skillsoft.com/2c135447-0854-45b0-a91e-5e2a499ef0e7','500','500')">Link to Certificate</a></li>
                                <li>Functions in Python: <strong>Gaining a Deeper Understanding of Python Functions</strong> - October 2021 - <a class="green" href="javascript:openURL('https://skillsoft.digitalbadges.skillsoft.com/dbf36d7e-f4fc-4500-adff-896c850fe283','500','500')">Link to Certificate</a></li>
                                <li>Functions in Python: <strong>Working with Advanced Features of Python Functions</strong> - October 2021 - <a class="green" href="javascript:openURL('https://skillsoft.digitalbadges.skillsoft.com/9933e085-e950-43a5-b734-2cb4d4cc338b','500','500')">Link to Certificate</a></li>
                                <li>Functions in Python: <strong>Introduction</strong> - October 2021 - <a class="green" href="javascript:openURL('https://skillsoft.digitalbadges.skillsoft.com/d7b13f38-1de7-479c-990d-b4272641b0df','500','500')">Link to Certificate</a></li>
                                <li>Conditional Statements & Loops: <strong>While</strong> - July 2021 - <a class="green" href="javascript:openURL('https://skillsoft.digitalbadges.skillsoft.com/e04a0137-3126-43c3-b7b6-2b30b45bdf8c','500','500')">Link to Certificate</a></li>
                                <li>Complex Data Types in Python: <strong>Dictionaries & Sets</strong> - May 2021 - <a class="green" href="javascript:openURL('https://skillsoft.digitalbadges.skillsoft.com/fb0b303b-ebc9-42cd-bd36-0f0b20239cb8','500','500')">Link to Certificate</a></li>
                                <li>Complex Data Types in Python: <strong>List & Tuples</strong> - April 2021 - <a class="green" href="javascript:openURL('https://skillsoft.digitalbadges.skillsoft.com/856c0753-bb75-44f8-ad82-6944a9668964','500','500')">Link to Certificate</a></li>
                                <li>Python Classes & Inheritance: <strong>Introduction</strong> - April 2021 - <a class="green" href="javascript:openURL('https://skillsoft.digitalbadges.skillsoft.com/76631bd7-f8ae-4876-ab57-00804a14f13d#gs.bc8tmb','500','500')">Link to Certificate</a></li>
                                <li>Conditional Statements & Loops <strong>For</strong> - April 2021 - <a class="green" href="javascript:openURL('https://skillsoft.digitalbadges.skillsoft.com/9c9fc67c-164f-4c82-ae39-4bc10f01e3b5','500','500')">Link to Certificate</a></li>
                                <li>Conditional Statements & Loops: <strong>Advanced</strong> - March 2021 - <a class="green" href="javascript:openURL('https://skillsoft.digitalbadges.skillsoft.com/e3f0c13d-9f7c-44e4-acb2-68ba978b2adf','500','500')">Link to Certificate</a></li>
                                <li>Conditional Statements & Loops - March 2021 - <a class="green" href="javascript:openURL('https://skillsoft.digitalbadges.skillsoft.com/4e6f1f77-a87d-4b48-99d7-003be4371e97','500','500')">Link to Certificate</a></li>
                                <li>Getting Started with Python: <strong>Introduction</strong> - March 2021 - <a class="green" href="javascript:openURL('https://skillsoft.digitalbadges.skillsoft.com/07ecf20b-2aad-4f0b-87bd-ef2d7828d584','500','500')">Link to Certificate</a></li>
                            </ul>
                        </article>
                        
                        <article class="Movistar">
                            <img src="https://www.fundaciontelefonica.com.ar/wp-content/uploads/2020/08/Logo-FTM-Arg.png" alt="Movistar Logo" height="30"><br>
                            <ul>
                                <li>Java SE [40hs] - December 2020 - <a class="green" href="javascript:openURL('../../../assets/pm/certif/FTM_Java_Certif.png','500','500')">Link to Certificate</a></li>
                                <li>Javascript [40hs] - December 2020 - <a class="green" href="javascript:openURL('../../../assets/pm/certif/FTM_JS_Certif.png','500','500')">Link to Certificate</a></li>
                            </ul>
                        </article>

                        <article class="CUV">
                            <img src="https://github.com/caidevOficial/Logos/raw/master/Instituciones/logo-cuv.png" alt="CUV Logo" height="30"><br>
                            <ul>
                                <li>Java SE [42hs] - November 2020 - <a class="green" href="javascript:openURL('../../../assets/pm/certif/CUV_certif.png','500','500')">Link to Certificate</a></li>
                            </ul>
                        </article>

                        <article class="TodoCode">
                            <img src="../../../assets/logos/Logo_TodoCode.png" alt="TodoCode Logo" height="30"><br>
                            <ul>
                                <li>Introduction to relational databases [MySQL] - September 2021 - <a class="green" href="javascript:openURL('../../../assets/pm/certif/todoCode_sql_certif.png','500','500')">Link to Certificate</a></li>
                                <li>Programming algorithms - February 2021 - <a class="green" href="javascript:openURL('../../../assets/pm/certif/todoCode_certif.png','500','500')">Link to Certificate</a></li>
                            </ul>
                        </article>
                    </section>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 p-4" style="border-radius: 10px">
                <hr>
                Selected Game: Dungeos. <br>
                <p>
                    In this game you need to defeat many bosses and collect the key of the dungeon to go to the next floor.
                </p>
            </div>
        </div>
    </div>
</div>
