<div class="limiter">

    <div class="component-main-text">
        <h2>Login Page</h2>
    </div>
    
    <div class="container-login100" style="background-image: url('../../../assets/Login/images/bg-04.jpg');">
        <div class="wrap-login100">
            <form class="login100-form validate-form" [formGroup]="loginForm" >
                <span class="login100-form-logo">
                    <i class="zmdi zmdi-landscape"></i>
                </span>

                <span class="login100-form-title p-b-34 p-t-27">
                    Log in
                </span>

                <div *ngIf="!this.harcoded then normal_login else fast_access_user"></div>
                
                <ng-template #normal_login>
                    <div class="wrap-input100 validate-input" data-validate = "Enter username">
                        <input class="input100" type="text" placeholder="Username" formControlName="username">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        <small class="invalid" 
                            *ngIf="loginForm.controls['username'].errors?.['required'] &&
                            loginForm.controls['username'].touched">
                            username required
                        </small>
                        <small class="invalid" 
                            *ngIf="loginForm.controls['username'].errors?.['containsSpaces'] &&
                            loginForm.controls['username'].touched">
                            the username can't contain spaces
                        </small>
                    </div>
    
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" placeholder="Password" formControlName="password">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        <small class="invalid" 
                            *ngIf="loginForm.controls['password'].errors?.['required'] &&
                            loginForm.controls['password'].touched">
                            password required
                        </small>
                    </div>
                </ng-template>

                <ng-template #fast_access_user>
                    <div class="wrap-input100 validate-input" data-validate = "Enter username" [(ngModel)]="actual_user.setUsername" [ngModelOptions]="{standalone: true}" required>
                        <input class="input100" type="text" placeholder="Username"  >
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        
                    </div>
    
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" placeholder="Password" [ngModel]="actual_user.getPassword" [ngModelOptions]="{standalone: true}" required>
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                            
                    </div>
                </ng-template>

                <div class="contact100-form-checkbox">
                    <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me" required>
                    <label class="label-checkbox100" for="ckb1">
                        Remember me
                    </label>
                </div>

                <div class="container-login100-form-btn">
                    <button (click)="fast_access()" class="login100-form-btn">
                        Login as Guest
                    </button>
                    <button (click)="login_user()" class="login100-form-btn">
                        Login
                    </button>
                    <button (click)="goto_signup()" class="login100-form-btn">
                        Sign Up
                    </button>
                </div>

                <div class="text-center p-t-90">
                    <a class="txt1" href="#">
                        Forgot Password?
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>
