
<header>
    <nav id="nav" class="nav1">
        <div id="sticky-nav" class="contenedor-nav">
            <div class="logo">
                <img src="../../../assets/icons/iconApp.ico" alt="">
            </div>
            <app-git-ribbon></app-git-ribbon>
            <app-nav-links></app-nav-links>
            <div class="icono" id="open">
                <span>&#9776;</span>
            </div>
        </div>
        <app-nav-var></app-nav-var>
    </nav>
    <div class="main-text">
        <h1>Game Room</h1>
        <h2>Facu Falcone - Laboratory IV</h2>
    </div>
</header>