<link rel="stylesheet" href="./header.component.css">

<header>
    <nav id="nav" class="nav1">
        <div id="sticky-nav" class="contenedor-nav">
            <div class="logo">
                <img src="../../../assets/icons/iconApp.ico" alt="">
            </div>
            <!-- TOP RIGHT RIBBON -->
            <div class="github-fork-ribbon-wrapper right">
                <div class="github-fork-ribbon">
                    <a href="#" target="_blank">Fork me on GitHub</a>
                </div>
            </div>
            <div class="head-links" id="head-links">
                <a routerLink="" id="link-home" class="btn-header">Home</a>
                <a routerLink="about" id="link-about" class="btn-header">About Me</a>
            </div>
            <div class="icono" id="open">
                <span>&#9776;</span>
            </div>
        </div>
        <div class="progress-container">
            <div class="progress-bar" id="myBar"></div>
        </div>
    </nav>
    <div class="main-text">
        <h1>Game Room</h1>
        <h2>Facu Falcone - Laboratory IV</h2>
    </div>
</header>