@import "../../../animation.css";
@import "../../app.component.css";

:root {
    --color1: rgb(255, 100, 0);
    --titulos: 33px;
    --margenes: 60px;
    --espacios: 10px;
    --espacios-contenido: 45px;
}

/* .galery-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
} */

.galery-work {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

.game-container {
    margin: auto;
    padding: var(--margenes) 0;
    width: 90%;
    max-width: 1000px;
    text-align: center;
    overflow: hidden;
}

.game-container h3 {
    font-size: var(--titulos);
    color: var(--color1);
    margin-bottom: var(--espacios);
}

.game-container h4 {
    font-size: var(--subtitulos);
    font-weight: 300;
    color: #fff;
}

.game-container p {
    font-size: var(--subtitulos);
    font-weight: 300;
    color: var(--color1);
}

.cont-work {
    width: 31%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    height: 300px;
    overflow: hidden;
    margin-bottom: var(--espacios-contenido);
}

.img-work {
    height: 90%;
    width: 100%;
}

.img-work img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

img {
    height: 140px;
}

.after::after {
    content: '';
    display: block;
    margin: auto;
    margin-top: var(--espacios);
    width: 100px;
    height: 2px;
    background: var(--color1);
    margin-bottom: var(--espacios-contenido);
}

.after p {
    color: #FFF;
}

.textos-work {
    height: 10%;
}

.textos-work h4 {
    line-height: 30px;
    font-weight: 300;
    color: var(--color1);
}

.botones-work {
    overflow: hidden;
}

.botones-work li {
    display: inline-block;
    text-align: center;
    margin-left: var(--espacios);
    margin-bottom: var(--espacios-contenido);
    padding: 6px 12px;
    border: 1px solid var(--color1);
    list-style: none;
    color: var(--color1);
}

.botones-work li:hover {
    background: var(--color1);
    color: #fff;
    cursor: pointer;
}

.botones-work .active {
    background: var(--color1);
    color: #fff;
}

.cards {
    perspective: 500px;
}

.card {
    width: 200px;
    height: 250px;
    /* background: url(); */
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 4px;
    position: relative;
    transform-style: preserve-3d;
    will-change: transform;
    /* filter: grayscale(100%); */
    /* transition: transform filter .5s; */
    transition: transform .5s;
    
}

.card:hover {
    transform: translate(10px) rotateX(20deg) rotateY(30deg);
    /* filter: grayscale(0); */
}

.card-title {
    color: #fff;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: transform .5s;
}

.card:hover .card-title {
    transform: translateZ(50%);
}