<section class="work game-container" id="games">
    <div class="component-main-text" align="center">
        <h2>Games catalog</h2>
    </div>
    
    <div class="after">
        <p>Our variety of games!</p>
    </div>
    
    <div class="botones-work">
        <ul>
            <li class="filter active" data-game='all'>All</li>
            <li class="filter" data-game='tactics'>Tactics</li>
            <li class="filter" data-game='adventure'>Adventure</li>
            <li class="filter" data-game='trivia'>Trivia</li>
        </ul>
    </div>
    
    <div class="galery-work cards">
        
        <div class="cont-work tactics card">
            <div class="img-work">
                <img src="../../../assets/Games/images/hangman.jpg" alt="">
            </div>
            <div class="textos-work">
                <h4>Hangman</h4>
            </div>
        </div>

        
        <div class="cont-work adventure card">
            <div class="img-work">
                <img src="../../../assets/Games/images/snake.jpg" alt="">
            </div>
            <div class="textos-work">
                <h4>Snake</h4>
            </div>
        </div>
        
        <div class="cont-work adventure card" routerLink="dungeon">
            <div class="img-work">
                <img src="../../../assets/Games/images/dungeon.jpg" alt="">
            </div>
            <div class="textos-work">
                <h4>Frieza Dungeon</h4>
            </div>
        </div>
        
        <div class="cont-work trivia card">
            <div class="img-work">
                <img src="../../../assets/Games/images/preguntados.jpg" alt="">
            </div>
            <div class="textos-work">
                <h4>Preguntados</h4>
            </div>
        </div>
    </div>

    <div class="main-canvas">
    </div>
</section>
<router-outlet></router-outlet>