<app-header-body></app-header-body>
<div class="black">
  <table class="black" align="center" border="5px">
    <thead>
      <tr>
        <td colspan="2">
          <div class="title">User Ages</div>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="values">First Age: </div><input class="values" align='right' type="text"
            [(ngModel)]="user.age_1">
        </td>
        <td>
          <div class="values">Second Age: </div><input class="values" align='right' type="text"
            [(ngModel)]="user.age_2">
        </td>
      </tr>
      <tr>
        <td align="center">
          <div class="values">Sum Ages: </div>
          <div class="values">{{user.sum_ages}}</div>
        </td>
        <td align="center">
          <div class="values">Average Ages: </div>
          <div class="values">{{user.mean_ages}}</div>
        </td>
      </tr>
      <tr>
        <td align="center">
          <input class="values" value='Calculate' type="button" (click)="user.calculate()">
        </td>
        <td align="center">
          <input class="values" value='Clear' type="button" (click)="[clear()]">
        </td>
      </tr>
    </tbody>
  </table>

  <div class="black" align="center">
    <input class="title" type="button" value="Back" routerLink="">
  </div>
</div>
<app-footer></app-footer>