

.head-links a {
    display: inline-block;
    padding: 5px 0;
    margin-right: 17px;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: inherit;
}

.head-links a:hover {
    border-bottom: 3px solid #1498a4;
    transition: 0.6s;
}