@import '../games.component.css';

.game-screen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text {
    margin: 30px 0px 30px 0px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
}

.border-canva {
    margin: 30px 0px 30px 0px;
    padding: 10px;
    background: rgb(0, 0, 0);
    display: inline-block;
}

#instructions {
    padding: 10px;
    border: none;
    color: white;
    text-decoration: none;

}

.canvas-container {
    height: 80%;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

#img-container {
    width: 100%;
    justify-content: center;
}

.game-info {
    width: 100%;
    height: 100%;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dbz {
    background-color: #000;
    width: 100%;
    justify-self: center;
}