@import '../games.component.css';

.game-screen {
    width: 100%;
    height: 100%;
    background: #000;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-info{
    width: 100%;
    height: 100%;
    color: aliceblue;
    background: #000;
    display: flexbox;
    justify-content: center;
    align-items: center;
}