<section>
    <div id="time">
        <div class="circle" style="--clr: #ff2972;">
            <div class="dots hr_dot"></div>
            <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70" id="hour_circle"></circle>
            </svg>
            <div id="hours">
                00
            </div>
        </div>
        <div class="circle" style="--clr: #5bff29;">
            <div class="dots min_dot"></div>
            <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70" id="minute_circle"></circle>
            </svg>
            <div id="minutes">
                00
            </div>
        </div>
        <div class="circle" style="--clr: #29bbff;">
            <div class="dots sec_dot"></div>
            <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70" id="second_circle"></circle>
            </svg>
            <div id="seconds">
                00
            </div>
        </div>
    </div>
</section>