<app-header-body></app-header-body>
<div class="black tHeader">
    <br><br>
    <table class="values" border="5px" align="center">
        <thead>
            <tr>
                <td colspan="2">
                    Go To:
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input class="title" type="button" value="Input Page" routerLink="input">
                </td>
                <td>
                    <input class="title" type="button" value="Login Page" routerLink="login">
                </td>
            </tr>
        </tbody>
    </table>
</div>
<app-footer></app-footer>